<div class="row">
    <gb-search></gb-search>
</div>
<div class="row">
    <a class="addNewBook" [routerLink]="['/newBook']">Add Book</a>
</div>
<div id="favorite_book">
    <div class="row my-md-3">
        <h2>Favorite Book</h2>
    </div>
    <div class="row">
        <gb-book-component [book]="bookService.getFavorite()" [isFavorite]="true" (favoriteEvent)="favorite($event)" class="favoriteBook"></gb-book-component>
    </div>
</div>

<div class="row my-md-3">
    <h2>Books To Read</h2>
</div>
<div id="booksToRead">
    <div *ngFor="let book of booksToRead" class="bookToRead row">
        <gb-book-component [book]="book" (favoriteEvent)="favorite($event)"></gb-book-component>
    </div>
</div>
